@tailwind base;
@tailwind components;
@tailwind utilities;

.coin-details-heading h3,
.coin-details-heading span {
    margin-top: 20px;
}

.coin-details-heading p{
    color: #0071bd;
    margin-top: 10px;
}

